Swap
{
   width:18px;
   height:18px;
   background-image: resource("Assets/Code/Editor/Stylesheets/Extensions/swap.png");
}
Bookmark
{
   width:18px;
   height:18px;
   background-image: resource("Assets/Code/Editor/Stylesheets/Extensions/bookmark.png");
}
Anim
{
   width:18px;
   height:18px;
   background-image: resource("Assets/Code/Editor/Stylesheets/Extensions/anim.png");
}
