.unity-list-view {
    margin-left: 10px;
    margin-right: 10px;
    -unity-text-align: middle-left;
}

.separator {
    height: 1px;
    background-color: rgb(196, 196, 196);
    margin: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.unity-toolbar-search-field {
    margin-left: 10px;
    max-width: 90%;
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0;
}
