.darker-bg {
    background-color: rgb(53, 53, 53);
    margin-top: 0;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 0;
    margin-bottom: 5px;
}

.editable-field {
    background-color: rgb(53, 40, 69);
}

.unity-multi-column-view__cell {
    align-self: center;
}
